header {
  box-shadow: 0 0 10px #fc5756;
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding: 20px 0;
  }

  &__logo {
    height: 60px;
    margin: 20px 0px;
  }
}
